@font-face {
    font-family: 'Ketchum';
    src: url('../fonts/Ketchum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pokemon';
    src: url('../fonts/Pokemon-Classic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}