//colors
$color-darkblue: #084152;
$color-blue: #395AA8;
$color-yellow: #FFDE00;
$color-green: #6ecca3;
$color-red: #CC0000;
$color-shadow: #25262c;

//breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1200px;